:root {
    font-family: 'Space Mono', monospace;
    color: white;
    background-color: black;
}

button {
    padding: 5px;
    margin-bottom: 15px;
    font-family: 'Space Mono', monospace;
    font-size: 20px;
}

#preamble {
    text-align: center;
}

#diamond-buttons {
    display: grid;
    justify-content: center;
    grid-template-rows: 200px 200px 200px;
    grid-template-areas: "white white"
                         "yellow blue"
                         "pink pink";
}

img:hover {
    filter: contrast(30%) brightness(185%);
}

.flash {
    filter: contrast(30%) brightness(185%);
}

#white-diamond {
    grid-area: white;
    text-align: center;
}

#yellow-diamond {
    text-align: center;
    grid-area: yellow;
}

#blue-diamond {
    text-align: center;
    grid-area: blue;
}

#pink-diamond {
    grid-area: pink;
    text-align: center;
}

#score-tracker {
    text-align: left;
    margin: 5vh;
    padding: 5vh;
}

#credit {
    text-align: right;
    color: grey;
}