:root {
    font-family: 'Space Mono', monospace;
    color: white;
    background-color: black;
}

#preamble {
    text-align: center;
}

#diamond-buttons {
    display: grid;
    justify-content: center;
    grid-template-rows: 250px 250px 250px;
    grid-template-areas: "white white"
                         "yellow blue"
                         "pink pink";
}

#white-diamond {
    grid-area: white;
    text-align: center;
}

#yellow-diamond {
    text-align: center;
    grid-area: yellow;
}

#blue-diamond {
    text-align: center;
    grid-area: blue;
}

#pink-diamond {
    grid-area: pink;
    text-align: center;
}

#score {
    text-align: left;
}